@media only screen and (max-width: 600px) {
  .Homepage {
    height: 100vh;
    width: 100vw;
    background-color: #e5f0f6;
  }
  .Homepage-Topbar {
    height: 4.5rem;
    background-color: white;
    display: flex;
    align-items: center;
  }
  .Homepage-Topbar h2 {
    margin-left: 1rem;
    flex-grow: 1;
  }
  .Homepage-Topbar-MenuIcon {
    margin-right: 1rem;
  }
}
